<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}<br>
    <img width="300" src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjP9uvDj53eAhXQwFMKHasEBe4QjRx6BAgBEAU&url=http%3A%2F%2Fsuperman.wikia.com%2Fwiki%2FSuperman&psig=AOvVaw2BTKZeSm6KGuujO4RW-JJY&ust=1540403278837964">
  </h1>

  <h1>
    <p><b>Personal Info</b></p>
  </h1> 
  <hr/>
  <app-my-cv-work></app-my-cv-work><!--This tag name needs to be the selector name of the component youre importing-->
  <br><hr/>
  <app-my-cv-enducation></app-my-cv-enducation><!--This tag name needs to be the selector name of the component youre importing-->

 
</div>


<router-outlet></router-outlet>
